* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html, body {
    background: #161616;
    color: #fff;
}

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #4bedc2;
    width: 0;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

h1 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 84px;
    text-transform: uppercase;
}

.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button a {
    color: #fff;
    border: 1px solid #fff;
    padding: 24px 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    transition: .3s;
}

.button:hover a {
    background: #fff;
    color: #161616;
    transition: 0.3s;
}

























